{% extends 'molecules/base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" style="background-color:#f1f1f1">
                <h2>Add protein-ligand complex</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>

                            {{ field.label_tag }} <br>
                            {{ field }}

                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <input type="submit" value="Add">
                </form>

            </div>
        </div>
    </div>
{% endblock %}
