{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDBrt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="htps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<style>
    .label_text {
        background-color: white;
        width: 5%;
    }

    .mol-container {
        width: 100%;
        height: 400px;
        position: relative;
        background-color: white;
    }

    .container-fluid {
        padding-top: 160px;
        padding-bottom: 60px
    }

    .table {
        width: 100%;
        margin-top: 20px;
        margin-left: 10px;
    }

    @font-face {
        font-family: Akrobat;
        src: url("/assets/Akrobat-Thin.otf")
    }

    html * {
        font-family: Akrobat;
        font-size: large;
    }

    body {
        padding-top: 20px;
    }

    .navbar {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        padding: 25px;
        align-self: center;
    }

    .navbar-brand {
        position: relative;
        top: -40px;
        left: 31%;
        transform: translateX(-50%);
    }

    .custom-nav-bar.navbar-toggle {
        background-color: #ddd; /*Background color for holder*/
    }

    .custom-nav-bar.navbar-toggle .icon-bar {
        background-color: #888; /*Background color for bar in the holder*/
    }

</style>
<body>
<nav class="navbar navbar-nav navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed custom-nav-bar" data-toggle="collapse"
                    data-target="#navbar2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/cover.png" alt="" height="110"></a>
        </div>
        <div id="navbar2" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Download
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'molecules:complex-export-data' %}">Excel file</a></li>
                        <li><a href="{% url 'molecules:complex-download-zip' %}">ZIP file</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'molecules:complex-add' %}">Add</a></li>
                    <li><a href="{% url 'molecules:complex-import-data' %}">Upload from excel</a></li>
                    <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-off"></span>
                        Logout {{ user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}"><span
                            class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row col-lg-12">
        <div class="col-lg-4 col-lg-offset-2 text-center" style="background-color: white">
            <div style="text-align: left">
                <a href="javascript:history.back()" class="previous">&laquo; Back</a></div>
            <h2 style="font-size: 300%"> {{ object.pdb_id }} </h2>
            <div id="container-01" class=" mol-container"></div>
{#            TODO: buttons not working#}
            <div id="view_modyficators">
                <br>
                <input type="button" value="Stick" style="background-color: black; color: white;"
                       onclick='$3Dmol.viewers["container-01"].setStyle({},{stick:{}}); $3Dmol.viewers["container-01"].render();'>
                <input type="button" value="Line" style="background-color: #02023E; color: white;"
                       onclick="viewer.setStyle({},{line:{}}); viewer.render();">
                <input type="button" value="Cross" style="background-color: #043567; color: white;"
                       onclick="viewer.setStyle({},{cross:{linewidth:2}}); viewer.render();">
                <input type="button" value="Sphere" style="background-color: #055A82; color: white"
                       onclick="viewer.setStyle({},{sphere:{}}); viewer.render();">
                <input type="button" value="Cartoon" style="background-color: #057496; color: white;"
                       onclick="viewer.setStyle({hetflag:false},{cartoon:{color: 'spectrum'}}); viewer.render();">
                <input type="button" value="Label alpha C's" style="background-color: #0694AF; color: white;"
                       onclick="addLabels(viewer); viewer.render();">
            </div>
        </div>

        <div class="col-lg-4" style="background-color: white">
            <form method="get" action="{% url 'molecules:complex-detail' object.pdb_id %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <th colspan="2" class="label_text" style="font-size: 130%; background-color: #1b6d85; color: white">Entrance
                            information</th>
                    </tr>
                    <tr>
                        <td>PDB ID</td>
                        <td>
                            <a href="{% url 'molecules:complex-download' object.pdb_id 'complex' %}">{{ object.pdb_id }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Protein Name</td>
                        <td>
                            {% if object.protein.name %}
                                <a href="{% url 'molecules:complex-download' object.pdb_id 'protein' %}">{{ object.protein.name }}</a>
                                </td>
                            {% else %}
                                <td>n/a</td>
                            {% endif %}

                    </tr>
                    <tr>
                        <td>Ligand Name</td>
                        <td>
                            {% if object.ligand.name %}
                                <a href="{% url 'molecules:complex-download' object.pdb_id 'ligand' %}">{{ object.ligand.name }}</a>
                                </td>
                            {% else %}
                                <td>n/a</td>
                            {% endif %}

                    </tr>
                    <tr>
                        <td>Residence time [min]</td>
                        {% if object.residence_time > 0.0 %}
                            {% if object.residence_time_plus_minus > 0.0 %}
                                <td>{{ object.residence_time|floatformat:2 }}
                                    &#177 {{ object.residence_time_plus_minus|floatformat:2 }} </td>

                            {% else %}
                                <td>{{ object.residence_time|floatformat:2 }}</td>

                            {% endif %}
                        {% else %}
                            <td>n/a</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th colspan="2" class="label_text" style="font-size: 130%; background-color: #1b6d85; color: white">Additional
                            parameters</th>
                    </tr>
                    <tr>
                        <td>K<sub>i</sub> [nM]</td>
                        {% if object.ki > 0.0 %}
                            {% if object.ki_plus_minus > 0.0 %}
                                <td>{{ object.ki|floatformat:1 }} &#177 {{ object.ki_plus_minus|floatformat:1 }}</td>
                            {% else %}
                                <td>{{ object.ki|floatformat:1 }}</td>
                            {% endif %}
                        {% else %}
                            <td>n/a</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>K<sub>on</sub> [min<sup>-1</sup>M<sup>-1</sup>]</td>
                        {% if object.kon > 0.0 %}
                            {% if object.kon_plus_minus > 0.0 %}
                                <td>{{ object.kon }} &#177 {{ object.kon_plus_minus|floatformat:2 }} &times
                                    10<sup>{{ object.kon_ten_to_power|floatformat:0 }}</sup></td>
                            {% else %}
                                <td>{{ object.kon }} &times 10<sup>{{ object.kon_ten_to_power|floatformat:0 }}</sup>
                                </td>
                            {% endif %}
                        {% else %}
                            <td>n/a</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>K<sub>off</sub> [min<sup>-1</sup>]</td>
                        {% if object.koff > 0.000 %}
                            {% if object.koff_plus_minus > 0.000 %}
                                <td>{{ object.koff|floatformat:3 }}
                                    &#177 {{ object.koff_plus_minus|floatformat:2 }}</td>
                            {% else %}
                                <td>{{ object.koff|floatformat:3 }}</td>
                            {% endif %}
                        {% else %}
                            <td>n/a</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th colspan="2" class="label_text" style="font-size: 130%; background-color: #1b6d85; color: white">Ligand
                            Properties</th>
                    </tr>
                    <tr>
                        <td>Formula</td>
                        <td>{{ object.ligand.formula }}</td>

                    </tr>
                    <tr>
                        <td>Canonical SMILES</td>
                        <td>{{ object.ligand.smiles }}</td>
                    </tr>
                    <tr>
                        <td>InChi String</td>
                        <td>{{ object.ligand.inchi }}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        let element = $('#container-01');
        let viewer = $3Dmol.createViewer(element);
        viewer = $3Dmol.createViewer("container-01", {defaultcolors: $3Dmol.rasmolElementColors});
        viewer.setBackgroundColor(0xffffff);
        var pdbUri = '/media/complexes/{{ object.pdb_id }}.pdb';

        jQuery.ajax(pdbUri, {
            success: function (data) {
                viewer.addModel(data, "pdb");                       /* load data */
                viewer.setStyle({}, {cartoon: {color: 'spectrum'}});  /* style all atoms */
                viewer.setStyle({resn: '{{ object.ligand.code }}', byres: true, expand: 5}, {stick: {}});
                viewer.zoomTo();                                      /* set camera */
                viewer.render();                                      /* render scene */
            },
            error: function (hdr, status, err) {
                console.error('Failed to load PDB ' + pdbUri + ': ' + err);
            },
        });
    });

</script>