{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="container text-center" style="padding-top: 160px; padding-bottom: 60px">
            <div style="text-align: left">
                <a href="javascript:history.go(-1)" class="previous">&laquo; back</a></div>
            <form method="post" action="{% url 'molecules:complex-import-data' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="center-block" type="file" name="file">
                <button type="submit" style="background-color: #1b6d85; color: white; margin: 20px;">upload</button>
            </form>
        </div>
    </div>
{% endblock %}
