{% extends 'base.html' %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>



{% block content %}
    <div class="jumbotron">
</div>
    <form action="{% url 'molecules:edit' object.pdb_id %}" method="post">
    {% csrf_token %}
     <div class="col-lg-4" style="background-color:#f1f1f1; box-shadow:0 2px 4px 0">
            <table class="table" style="width:80%" align="left">
{#                {{ form.as_table }}#}
                {% render_form serializer %}
                <tr><td colspan="2"><br></td></tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
          </div>
    </form>
{% endblock %}
