<!DOCTYPE html>
{% load static %}
<html lang="en">
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    img.resize {
        max-width: 90%;
        max-height: 90%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>PDBrt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'molecules:complex-list' %}">PDBrt</a>
        </div>
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'molecules:complex-add' %}">Add</a></li>
                <li><a href="{% url 'molecules:complex-import-data' %}">Upload from XLS</a></li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-off"></span>
                    Logout {{ user.username }}</a></li>
            {% else %}
                <li><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>

    </div>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>